<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blockforge.engine" version="1.9.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>BlockForge</name>
  <description>BlockForge 2D Game Engine</description>
  <author>BlockForge</author>

  <content src="index.html" />

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <preference name="AndroidRequestLegacyExternalStorage" value="true" />
  <preference name="android-minSdkVersion" value="22" />
  <preference name="android-targetSdkVersion" value="33" />
  <preference name="Fullscreen" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackgroundColor" value="#0f172a" />

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
  </platform>

  <engine name="android" spec="^11.0.0" />

</widget>
