<?xml version='1.0' encoding='utf-8'?>
  <widget id="com.blockforge.engine" version="1.9.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BlockForge</name>
    <description>BlockForge 2D Game Engine</description>
    <author email="dev@blockforge.app">BlockForge Team</author>
    <content src="index.html" />
    <preference name="AndroidRequestLegacyExternalStorage" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackgroundColor" value="#0f172a" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="Fullscreen" value="false" />
    <platform name="android">
      <allow-intent href="market:*" />
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
        <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
        <uses-permission android:name="android.permission.INTERNET" />
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name=".MainActivity"
          android:requestLegacyExternalStorage="true"
          android:hardwareAccelerated="true"
          android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
      </config-file>
      <resource-file src="res/android/provider_paths.xml" target="app/src/main/res/xml/provider_paths.xml" />
    </platform>
    <plugin name="cordova-plugin-file" spec="^7.0.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-statusbar" spec="^3.0.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <engine name="android" spec="^12.0.0" />
  </widget>